.inputs {
  height:95vh;
  
}

.input {
  width:150px;
  background-color: transparent !important;
}

.input-btn {
  width:100%;
  position: -webkit-sticky;
  
}

.input-box{
  width:80%;
  background-color:rgba(0, 0, 0, 0.06);
  /* width: 261px; */
  height: 55px;
  /* left: 55px; */
  /* top: 331px; */

  /* background: #D9D9D9; */
  border-radius: 10px;  
}

.departure{
  display: flex;
  flex-direction: column;
  align-items: center;
}


