.course-container {
    display: grid;
    grid-template-rows: 50px 6fr;
    gap: 10px 10px;
}

.course-title {
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.course-route {
    margin: 10%;
    overflow-y: scroll;
}

.course-route * {
    height: 50px;
}