.travel-config {
    height: 4vh;
    display: flex;
    align-items: center;
}

.travel-config .icon {
    height: 3vh;
    width: 3vh;
}

div header {
    line-height: 5vw;
    margin-left: 5vw;
    margin-top: 2vh;
    color: #535252;
}

.travel-drawer .MuiDrawer-paper{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.travel-drawer p {
    /* line-height: 4vw;     */
    text-align: center;
    margin-block-end: 1vh;
    margin-block-start: 1.5vh;
    

}

/* .travel-drawer hr{
    border: 1px solid black;
    margin-block-start: 10px !important;
    margin-block-end: 0.1em;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
} */