.schedule-info {
	font-size: 4vw;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}

.schedule-info * {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}

.link {
	font-weight: bold;
}

.schedule-box {
	border: 5px solid rgba(21, 101, 192, 0.29);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	height: 4.5vh;
}

.schedule-box p {
	padding: 0 0.3em;
}

.schedule-box > p {
	padding-top: 0.3em;
}

.transportation {
	margin: 1vh 0 0.5vh 0;
}

