.budget-container {
  display: grid;
  grid-template-rows: 4fr 7fr;
  height:100%;
}



/****** header ******/
.budget-header {
  display:grid;
  align-content: end;
  justify-content: center;
  line-height: 10vw;
  
}

/****** body ******/
.budget-body {
  display:grid;
  justify-items: center;
  align-items: center;
}

.budget-input {
  display: grid;
  width:60vw;
  grid-template-columns: 5fr 2fr;
}




.budget-input-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-self: center;
  font-size: 25px;
  font-weight: 700;
  color:black;

}

.input-label{
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 3vh;
  display: flex;
  align-items: center; 
  justify-content: center;

  color: #000000;

}
