.dates-container {
  display: grid;
  grid-template-rows: 4fr 7fr;
  height:100%;
  justify-content: stretch;
  
}


/****** header ******/
.dates-header {
  display:grid;
  align-content: end;
  justify-content: start;
  line-height: 10vw;
  margin-left: 3vw;
  
}


/****** body ******/
.adates-body {
  display:grid;
  justify-content: stretch;
  align-items: center;
}

.adates-body > div {
  border : 2px solid gray;
  border-radius: 10px;
  padding: 1vh 0;
  width: 100%;
  display: grid;
  justify-content: stretch;
}

.adates-body div {
  font-size: 2.6vw;
}




