.style-container {
  display:grid ;
  grid-template-rows: 3fr 7fr;
  gap:1rem;
  height:100%;
}


.style-header {
  display:grid;
  align-content: end;
  justify-content: center;
}

/* 어디서, 몇 명이서 떠나시나요? */
.mention {
  font-family: 'Inter';
  font-size: 25px;
  font-style: bold;
  font-weight: 700;
  line-height: 100px;

}

/* 취향에 맞는 일정과 장소를 추천드려요! */
.mention2 {
  font-family: 'Inter';
  font-size: 15px;
  font-style: bold;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
}

.style-body {
  display:grid;
  /* grid-template-rows: 1fr 11fr; */
  justify-content: center;
  /* justify-items: center; */
  align-items: center;
  align-content: center;
  grid-gap: 5vw;
}

.style-select-btns {
  display:grid;
  grid-row-gap: 3vw;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  width: 70vw;
  /* grid-auto-columns: minmax(50,100); */
}

div.style-select-btns button {
  background-color: transparent;
  display:grid;
  grid-template-columns: 2fr 5fr;
  width: 28vw;
  height: 40px;
  border-radius: 10px;
}

.style-icon {
  height: 30px;
  width: auto;
  border: none;
  align-self:center;
}

button span {
  align-self:center;
  font-size:3vw;
}