:root {
  --vh: 100%;
}

* {
  font-family: "JejuGothic";
}

@font-face {
  font-family: "JejuGothic";
  font-weight: normal;
  src: url("./fonts/JejuGothic.ttf");
}

@font-face {
  font-family: "JejuHallasan";
  src: url("./fonts/JejuHallasan.ttf");
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.link {
  text-decoration: none ;
  color: inherit;
}

.color-1 {
  color: #1E88E5;
}

.gray {
  color: #8C8C8C;
}

.title-size {
  font-size: 6vw;
}

.subtitle-size {
  font-size: 5vw;
}

.content-size {
  font-size: 4vw;
}

.subcontent-size {
  font-size: 3vw;
}

.text-center {
  text-align: center;
}

input {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.gamgyul {
  width: 6vw;
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 9vw;
  left: 10vw;
}


