:root {
  --vh: 100%;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}


.btn {
  margin-top: 20px;
  background-color: #1E88E5;
  width: 250px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 15px;
}

.link {
  text-decoration: none ;
  color: inherit;
}

.color-1 {
  color: #1E88E5;
}

.title-size {
  font-size: 25px;
}

.subtitle-size {
  font-size: 20px;
}

.content-size {
  font-size: 15px;
}

.subcontent-size {
  font-size: 12px;
}

.text-center {
  text-align: center;
}


